body {
    margin: 0;
    background: #000;
    font-family: Arial, sans-serif;
}

/* ===================== */
/* ПРОГРЕСС (СКРЫТ ПО УМОЛЧАНИЮ) */
/* ===================== */
.progress-container {
    position: fixed;
    top: 20px;
    left: 20px;

    width: 802px;
    height: 74px;

    display: none;
    position: fixed;
    overflow: hidden;
}

.progress-bg {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 30;
}

.progress-fill {
    position: absolute;
    left: 21px;
    top: 21px;
    height: 45%;

    width: 0;

    background: #37dd37; /* 👈 светлее версия */
    z-index: 31;

    transition: width 0.3s ease;
}

.progress-text {
    position: absolute;
    top: 52%;
    left: 25%;

    transform: translate(-50%, -50%);

    z-index: 32;

    font-family: Arial, sans-serif;
    font-size: 25px;

    color: white;

    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px  2px 0 #000,
            2px  2px 0 #000;

    pointer-events: none;
}
/* ===================== */
/* КОНТЕЙНЕР */
/* ===================== */
.container {
    width: 420px;
    margin: 100px auto;
    padding: 20px;

    background: #aacaad;
    border-radius: 10px;
}

.container.left-mode {
    position: fixed;
    top: 100px;
    left: 20px;

    margin: auto;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    color: white;
}



/* ===================== */
/* INPUT */
/* ===================== */
.input-block {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* ===================== */
/* КНОПКИ */
/* ===================== */
button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    transition: 0.2s;
    background: #eee;
}

button + button {
    margin-left: 6px;
}

.confirm-btn {
    width: 100%;
    margin: 10px 0;
    background: #333;
    color: white;
}

/* ===================== */
/* ОШИБКА */
/* ===================== */
.error-msg {
    color: #5d0000;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}

/* ===================== */
/* ФИЛЬТРЫ */
/* ===================== */
.filters {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.filters button {
    flex: 1;
}

/* ===================== */
/* СПИСОК */
/* ===================== */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#taskList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container:not(.left-mode) #taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin-bottom: 6px;

    background: #627969;
    border-radius: 6px;
}

.container:not(.left-mode) #taskList li span {
    color: #fff;

    text-shadow: 0 0 6px #000;
}

.container.left-mode li {
    padding: 1px;
}
.container.left-mode li span {
    font-size: 21px;
    letter-spacing: 1px;

    line-height: 1.1; /* по умолчанию ~1.4 */
    color: white;

    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px  2px 0 #000,
            2px  2px 0 #000;
}


/* ===================== */
/* СТАТУСЫ */
/* ===================== */
.container.left-mode .completed {
    color: #37dd37;

    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px  2px 0 #000,
            2px  2px 0 #000;
}

.container.left-mode .rejected {
    color: #ff4d4d;

    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px  2px 0 #000,
            2px  2px 0 #000;
}

/* ===================== */
/* РЕЗУЛЬТАТ */
/* ===================== */
/* ===================== */
/* ПЛАВНОЕ ИСЧЕЗНОВЕНИЕ */
/* ===================== */
.fade-out {
    opacity: 0;
    transform: scale(0.98);
    transition: all 0.5s ease;
    pointer-events: none;
}

/* ===================== */
/* RESULT SCREEN BACKGROUND */
/* ===================== */
.result-screen {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    background: #000;

    pointer-events: none;
    z-index: 9999;

    transition: opacity 0.8s ease;
}

.result-screen.show {
    opacity: 1;

    pointer-events: auto;
}

/* фон победы/поражения */
.result-screen.victory {
    background: url("assets/victory.jpg") center/cover no-repeat;
}

.result-screen.defeat {
    background: url("assets/defeat.png") center/cover no-repeat;
}


/* затемнение */
.result-screen::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);

    pointer-events: none;
}

.result-screen.defeat .result-title {
    color: #ff3b3b;
}

.result-screen.victory .result-title {
    color: #4dc3ff;
}

.result-title {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);

    font-family: "VCR OSD Mono", monospace;
    font-size: 150px;
    letter-spacing: 6px;

    color: white;
    opacity: 0;

    /* 👇 БЫЛО 1.2s → стало медленнее */
    transition: top 4.2s cubic-bezier(0.16, 1, 0.3, 1),
    opacity 4.2s ease;

    transition-delay: 0.2s; /* 👈 чуть позже чем фон */
}

/* запуск */
.result-title.show {
    top: 40px;
    opacity: 1;
}

.result-subtitle {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);

    font-family: "VCR OSD Mono", monospace;
    font-size: 60px;
    letter-spacing: 6px;

    opacity: 0;

    transition:
            top 4.2s cubic-bezier(0.16, 1, 0.3, 1),
            opacity 4.2s ease;

    transition-delay: 0.6s; /* 👈 чтобы шёл после title */
}

/* состояние появления */
.result-subtitle.show {
    top: 170px;
    opacity: 1;
}

.result-screen.victory .result-subtitle {
    color: #4dc3ff;
}

.result-screen.defeat .result-subtitle {
    color: #ff3b3b;
}

/* текст результата */
.result-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease, transform 1.2s ease;

    color: #fff;
    text-align: center;
    font-size: 27px;

    position: relative;
    z-index: 2;
}

/* когда экран активен */
.result-screen.show .result-text {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s; /* 👈 задержка после появления фона */
}


.finish-all-btn {
    display: none;

    width: 117px;
    margin-top: 15px;

    cursor: pointer;
    transition: transform 0.2s ease;

    user-select: none;
    -webkit-user-drag: none;
}

.finish-all-btn:hover {
    transform: scale(1.05);
}

.finish-all-btn:active {
    transform: scale(0.95);
}

/* показываем только в левом режиме */
.container.left-mode .finish-all-btn {
    display: block;
}
/* ===================== */
/* ФИНАЛ ДНЯ */
/* ===================== */
.finish-btn {
    margin-top: 15px;
    padding: 10px 15px;
    background: #333;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.finish-btn:hover {
    background: #555;
}

.finish-message {
    margin-bottom: 15px;
    font-size: 18px;
}

.finish-actions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/* ===================== */
/* ВЫХОД */
/* ===================== */
.exit-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;

    width: 140px;

    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;

    opacity: 0;
    transform: translateY(20px) scale(1);

    pointer-events: none;

    transition:
            opacity 0.4s ease,
            transform 0.4s ease;
}

/* появление */
.exit-btn.show {
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
}

/* 👇 ХОВЕР (ВАЖНО) */
.exit-btn.show:hover {
    transform: translateY(0) scale(1.08);
    filter: brightness(1.2);
}

/* 👇 КЛИК (нажатие) */
.exit-btn.show:active {
    transform: translateY(0) scale(0.92);
    filter: brightness(0.9);
}